<div style="width:90px;min-height:30px;" class="cmd cmd-widget cursor" data-type="info" data-subtype="numeric" data-cmd_id="#id#">
    <span>#name#</span>
    <br>
    <span class='value'></span>
    <div class="progress"></div>
    <script>
        var value = parseInt('#state#');
        if (isNaN(value)) {
            value = 0;
        }
        $('.cmd[data-cmd_id=#id#] .value').append(value + ' #unite#');
        var goal = parseInt('#goal#');
        var pourcent = value / goal * 100;
        if (pourcent > 100) {
            pourcent = 100;
        }
        if (pourcent > 75) {
            var color = 'progress-bar-success';
        } else if (pourcent > 50) {
            var color = 'progress-bar-info';
        } else if (pourcent > 25) {
            var color = 'progress-bar-warning';
        } else {
            var color = 'progress-bar-danger';
        }
        var progress = '<div class="progress-bar progress-bar-striped active ' + color + '" role="progressbar" aria-valuenow="' + pourcent + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + pourcent + '%">'
        progress += '<span class="sr-only">' + pourcent + '%</span>';
        progress += '</div>';
        $('.cmd[data-cmd_id=#id#] .progress').append(progress);
    </script>
</div>
