<div class="eqLogic-widget eqLogic noResize" style="width: 330px;background-color: #background_color#; padding : 0px; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
    <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
    <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
    <center><a href="#eqLink#" style="font-size : 1.5em;"> #name# </a></center>

    <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>

    <div class="row sleep">
        <div class="col-sm-6" style="margin-left: 10px;" >
            <div class="progress">
                <div class="progress-bar progress-bar-striped durationtosleep #durationtosleep_history#" data-cmd_id="#durationtosleep_id#"></div>
                <div class="progress-bar progress-bar-warning progress-bar-striped lightsleepduration #lightsleepduration_history#" data-cmd_id="#lightsleepduration_id#"></div>
                <div class="progress-bar progress-bar-success progress-bar-striped deepsleepduration #deepsleepduration_history#" data-cmd_id="#deepsleepduration_id#"></div>
            </div>
        </div>
        <div class="col-sm-5">
            <i class="icon personne-sleeping4"></i> <span class="totalSleep #totalSleep_history#" data-cmd_id="#totalSleep_id#" title="Temps total de sommeil"></span> 
            <span class="#wakeupcount_history#" data-cmd_id="#wakeupcount_id#" title="Nombre de reveils (#wakeupcount_collect#)"><i class="icon divers-circular114"></i> #wakeupcount#</span>
        </div>
    </div>

    <div class="row body">
        <div class="col-sm-6" style="margin-left: 10px;" >
            <div class="progress">
                <div class="progress-bar progress-bar-danger progress-bar-striped measuregrps8 #measuregrps8_history#" data-cmd_id="#measuregrps8_id#" title="Masse grasse : #measuregrps8# kg (#measuregrps8_collect#)"></div>
                <div class="progress-bar progress-bar-success progress-bar-striped measuregrps5 #measuregrps5_history#" data-cmd_id="#measuregrps5_id#" title='Masse maigre : #measuregrps5# kg (#measuregrps5_collect#)'></div>
                <div class="progress-bar progress-bar-success progress-bar-striped weightOther #weightOther_history#" data-cmd_id="#weightOther_id#" title='Autre : 0 kg'></div>
            </div>
        </div>
        <div class="col-sm-5">
            <span title="Poids (#measuregrps1_collect#)"><i class="icon divers-weight11"></i> #measuregrps1# kg</span>
        </div>
    </div>

    <center>
        <span class="heart #measuregrps11_history#" data-cmd_id="#measuregrps11_id#"><span title="Rythme cardiaque (#measuregrps11_collect#)"><i class="fa fa-heart"></i> #measuregrps11# bpm</span>
        <span class="measuregrps54 #measuregrps54_history#" data-cmd_id="#measuregrps11_id#" title="SPO2 (#measuregrps54_collect#)">  #measuregrps54# %</span></span><br/>
        <span class="step #step_history#" data-cmd_id="#step_id#" title="Nombre de pas (#step_collect#)"><i class="icon loisir-runner5"></i> #step#</span>
        <span class="calories #calories_history#" data-cmd_id="#calories_id#" title="Calories brulées (#calories_collect#)"><i class="icon nourriture-cherries"></i> #calories#</span>
        <span class="distance #distance_history#" data-cmd_id="#distance_id#" title="Distance parcourue (#distance_collect#)"><i class="fa fa-arrows-h"></i> #distance# Km</span>
        <span class="elevation #elevation_history#" data-cmd_id="#elevation_id#" title="Elévation (#elevation_collect#)"><i class="fa fa-arrows-v"></i> #elevation# m</span>
    </center>

    <script>
        $('.eqLogic[data-eqLogic_id=#id#] .refresh').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });


        if (isNaN(parseInt('#durationtosleep#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .sleep').remove();
        } else {
            var totalSleep = parseInt('#durationtosleep#') + parseInt('#deepsleepduration#') + parseInt('#lightsleepduration#');
            var minute = (totalSleep % 60);
            minute = minute.toString()
            if (minute.length == 1) {
                minute = '0' + minute;
            }
            $('.eqLogic[data-eqLogic_id=#id#] .totalSleep').append(parseInt(totalSleep / 60) + 'h' + minute);

            var minute = (parseInt('#durationtosleep#') % 60);
            minute = minute.toString()
            if (minute.length == 1) {
                minute = '0' + minute;
            }
            $('.eqLogic[data-eqLogic_id=#id#] .durationtosleep').attr('title', 'Temps pour s\'endormir : ' + parseInt(parseInt('#durationtosleep#') / 60) + 'h' + minute + ' (#durationtosleep_collect#)');
            $('.eqLogic[data-eqLogic_id=#id#] .durationtosleep').css('width', (parseInt('#durationtosleep#') / totalSleep * 100) + '%');

            var minute = (parseInt('#deepsleepduration#') % 60);
            minute = minute.toString()
            if (minute.length == 1) {
                minute = '0' + minute;
            }
            $('.eqLogic[data-eqLogic_id=#id#] .deepsleepduration').attr('title', 'Durée sommeil profond : ' + parseInt(parseInt('#deepsleepduration#') / 60) + 'h' + minute + ' (#deepsleepduration_collect#)');
            $('.eqLogic[data-eqLogic_id=#id#] .deepsleepduration').css('width', (parseInt('#deepsleepduration#') / totalSleep * 100) + '%');

            var minute = (parseInt('#lightsleepduration#') % 60);
            minute = minute.toString()
            if (minute.length == 1) {
                minute = '0' + minute;
            }
            $('.eqLogic[data-eqLogic_id=#id#] .lightsleepduration').attr('title', 'Durée sommeil léger : ' + parseInt(parseInt('#lightsleepduration#') / 60) + 'h' + minute + ' (#lightsleepduration_collect#)');

            $('.eqLogic[data-eqLogic_id=#id#] .lightsleepduration').css('width', (parseInt('#lightsleepduration#') / totalSleep * 100) + '%');
        }
        if (isNaN(parseInt('#measuregrps1#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .body').remove();
        } else {
            $('.eqLogic[data-eqLogic_id=#id#] .measuregrps8').css('width', (parseInt('#measuregrps8#') / parseInt('#measuregrps1#') * 100) + '%');
            $('.eqLogic[data-eqLogic_id=#id#] .measuregrps5').css('width', (parseInt('#measuregrps5#') / parseInt('#measuregrps1#') * 100) + '%');
            var weightOther = parseInt('#measuregrps1#') - (parseInt('#measuregrps5#') + parseInt('#measuregrps8#'));
            if (weightOther > 0) {
                $('.eqLogic[data-eqLogic_id=#id#] .weightOther').attr('title', 'Autre : ' + weightOther + ' kg');
                $('.eqLogic[data-eqLogic_id=#id#] .weightOther').css('width', (weightOther / parseInt('#measuregrps1#') * 100) + '%');
            }
        }
        if (isNaN(parseInt('#measuregrps14#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .measuregrps14').remove();
        }
        if (isNaN(parseInt('#measuregrps11#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .heart').remove();
        }
        if (isNaN(parseInt('#step#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .step').remove();
        }
        if (isNaN(parseInt('#calories#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .calories').remove();
        }
        if (isNaN(parseInt('#distance#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .distance').remove();
        }
        if (isNaN(parseInt('#elevation#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .elevation').remove();
        }
        if (isNaN(parseInt('#measuregrps54#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .measuregrps54').remove();
        }
    </script>

</div>

