<div style="width:90px;min-height:30px;" class="cmd cmd-widget cursor" data-type="info" data-subtype="numeric" data-cmd_id="#id#">
    <span>#name#</span>
    <br>
    <span class='value'></span>
    <script>
        var value = parseInt('#state#');
        if (isNaN(value)) {
            value = 0;
        }
        $('.cmd[data-cmd_id=#id#] .value').append(value + ' #unite#');
        var goal = parseInt('#goal#');
        var pourcent = value / goal * 100;
        if (pourcent > 100) {
            pourcent = 100;
        }
        if (pourcent > 75) {
            $('.cmd[data-cmd_id=#id#]').css('background-color','#2ecc71');
        } else if (pourcent > 50) {
            $('.cmd[data-cmd_id=#id#]').css('background-color','#3498db');
        } else if (pourcent > 25) {
            $('.cmd[data-cmd_id=#id#]').css('background-color','#e67e22');
        } else {
            $('.cmd[data-cmd_id=#id#]').css('background-color','#e74c3c');
        }
    </script>
</div>
