<div class="eqLogic-widget eqLogic noResize" style="width: 330px;background-color: #background_color#; padding : 0px; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
    <center>#name#</center>
    <center>
        <span class="sleep"><i class="icon personne-sleeping4"></i> <span class="totalSleep"></span> <i class="icon divers-circular114"></i> #wakeupcount#<br/></span>
        <span class="body"><i class="icon divers-weight11"></i> #measuregrps1# kg</span>
        <span class="heart"><i class="fa fa-heart"></i> #measuregrps11# bpm</span>
        <span class="measuregrps54" title="SPO2 (#measuregrps54_collect#)">  #measuregrps54# %</span></span><br/>
        <span class="step"><i class="icon loisir-runner5" title="Nombre de pas"></i> #step#</span>
        <span class="calories"><i class="icon nourriture-cherries" title="Calories brulées"></i> #calories#</span>
        <span class="distance"><i class="fa fa-arrows-h" title="Distance parcourue"></i> #distance# Km</span>
        <span class="elevation"><i class="fa fa-arrows-v" title="Elévation"></i> #elevation# m</span>
    </center>

    <script>
        if (isNaN(parseInt('#durationtosleep#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .sleep').remove();
        } else {
            var totalSleep = parseInt('#durationtosleep#') + parseInt('#deepsleepduration#') + parseInt('#lightsleepduration#');
            var minute = (totalSleep % 60);
            minute = minute.toString()
            if (minute.length == 1) {
                minute = '0' + minute;
            }
        }
        if (isNaN(parseInt('#measuregrps1#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .body').remove();
        }
        if (isNaN(parseInt('#measuregrps11#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .heart').remove();
        }
        if (isNaN(parseInt('#step#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .step').remove();
        }
        if (isNaN(parseInt('#calories#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .calories').remove();
        }
        if (isNaN(parseInt('#distance#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .distance').remove();
        }
        if (isNaN(parseInt('#elevation#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .elevation').remove();
        }
        if (isNaN(parseInt('#measuregrps54#'))) {
            $('.eqLogic[data-eqLogic_id=#id#] .measuregrps54').remove();
        }
    </script>

</div>

